<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="/layout :: head"></head>

    <meta charset="UTF-8">
    <title>Product</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        function addProduct() {
            //lay du lieu
            let productName = $('#productName').val();
            let productPrice = $('#price').val();
            let productDescription = $('#description').val();
            let productDate = $('#date').val();
            let productQuantity = $('#quantity').val();
            let productCategory = $('#category').val();
            let newProduct = {
                name: productName,
                price: productPrice,
                description: productDescription,
                datetime: productDate,
                quantity: productQuantity,
                category: {id: productCategory},
            };
            //goi ajax
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "POST",
                data: JSON.stringify(newProduct),
                //ten API
                url: "/products",
                //xu li khi thanh cong
                success: successHandler
            });
            // chan su kien mac dinh cua the
            event.preventDefault();
        }

        function successHandler() {
            $.ajax({
                type: "GET",
                //tên API
                url: "/products",
                //xử lý khi thành công
                success: function (data) {
                    console.log(data)
                    // hien thi danh sach o day
                    let content = '    <tr>\n' +
                        '        <th>Name</th>\n' +
                        '        <th>Price</th>\n' +
                        '        <th>Description</th>\n' +
                        '        <th>Date</th>\n' +
                        '        <th>Quantity</th>\n' +
                        '        <th>Category</th>\n' +
                        '        <th>Edit</th>\n' +
                        '        <th>Delete</th>\n' +
                        '    </tr>';
                    for (let i = 0; i < data.length; i++) {
                        content += getProduct(data[i]);
                    }
                    document.getElementById('customers').innerHTML = content;
                }
            });
        }

        function getProduct(product) {
            return `<tr>` +
                `<td>${product.name}</td>` +
                `<td>${product.price}</td>` +
                `<td>${product.description}</td>` +
                `<td>${product.datetime}</td>` +
                `<td>${product.quantity}</td>` +
                `<td>${product.category.name}</td>` +
                `<td><a class="editProduct" data-bs-toggle="modal" data-bs-target="#exampleModal" href="${product.id}" onclick="getProductById($(this))">Edit</a></td>` +
                `<td><a class="deleteProduct" href="${product.id}" onclick="deleteProduct($(this))">Delete</a></td>` +
                `</tr>`
                ;
        }

        function getProductById(a) {
            let id = a.attr("href");
            console.log(id)
            $.ajax({
                type: "GET",
                url: "/products/" + id,
                success: function (data) {
                    document.getElementById('updateName').value = data.name;
                    document.getElementById('updatePrice').value = data.price;
                    document.getElementById('updateDescription').value = data.description;
                    document.getElementById('updateDate').value = data.datetime;
                    document.getElementById('updateQuantity').value = data.quantity;
                    document.getElementById('updateId').value = id;
                    document.getElementById('updateCategoryId').value = data.category.name;

                }
            })
            event.preventDefault();
        }

        function updateProduct() {
            let id = $('#updateId').val();
            let name = $('#updateName').val();
            let price = $('#updatePrice').val();
            let description = $('#updateDescription').val();
            let date = $('#updateDate').val();
            let quantity = $('#updateQuantity').val();
            let category = $('#updateCategoryId').val();
            let editProduct = {
                name: name,
                price: price,
                description: description,
                datetime: date,
                quantity: quantity,
                category: {id: category},
            }
            $.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                type: "PUT",
                url: "/products/" + id,
                data: JSON.stringify(editProduct),
                success: successHandler,
            })
            event.preventDefault();
        }


        function deleteProduct(a) {
            //chặn sự kiện mặc định của thẻ
            event.preventDefault();
            let idProduct = a.attr("href");
            // goi ajax
            $.ajax({
                type: "DELETE",
                //tên API
                url: "/products/" + idProduct,
                //xử lý khi thành công
                success: function (data) {
                    a.parent().parent().remove();
                },
            });
        }
    </script>
</head>
<body>
<form action="/category/list">
    <input style="background-color: red" type="submit" value="Show Category">
</form>
<form action="/logout">
    <input style="background-color: blue" type="submit" value="Logout">
</form>
<form action="/products/searchName" method="post">
    Search by first name:
    <input name="name" type="text" placeholder="Input name search"/>
    <input type="submit" value="Search"/>
</form>
<form action="/products/searchCategory" th:method="post">
    <select th:name="id">
        <th:block th:each="c:${categories}">
            <option th:value="${c.id}" th:text="${c.name}"></option>
        </th:block>
    </select>
    <input type="submit" value="Search">
</form>
<form id="addProduct">
    <table>
        <label for="productName">Name</label>
        <input type="text" id="productName">

        <label for="price">Price</label>
        <input type="text" id="price">

        <label for="description">Description</label>
        <input type="text" id="description">

        <label for="date">Date</label>
        <input type="datetime-local" id="date">

        <label for="quantity">Quantity</label>
        <input type="text" id="quantity">

        <div>
            <label>Category</label>
            <select id="category">
                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
            </select>
        </div>
    </table>
    <form>
        <input type="button" value="Add New Product" onclick="addProduct()">
    </form>

</form>
<div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:object="${category}">
                        <div class="mb-3">
                            <label for="updateName" class="col-form-label">Name</label>
                            <input class="form-control" id="updateName">
                        </div>
                        <div class="mb-3">
                            <label for="updatePrice" class="col-form-label">Price</label>
                            <input type="text" class="form-control" id="updatePrice">
                        </div>
                        <div class="mb-3">
                            <label for="updateDescription" class="col-form-label">Description</label>
                            <input class="form-control" id="updateDescription">
                        </div>
                        <div class="mb-3">
                            <label for="updateDate" class="col-form-label">Date</label>
                            <input class="form-control" id="updateDate">
                        </div>
                        <div class="mb-3">
                            <label for="updateQuantity" class="col-form-label">Quantity</label>
                            <input class="form-control" id="updateQuantity">
                        </div>
                        <div class="mb-3" >
                            <label class="col-form-label">Category</label>
                            <select id="updateCategoryId" th:field="${category.id}">
                                <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                            </select>
                        </div>
                        <div>
                            <input class="form-control" id="updateId">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updateProduct()" data-bs-dismiss="modal">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>List Product</h1>
<table id="customers">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date</th>
        <th>Quantity</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="product : ${list}">
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.datetime}"></td>
        <td th:text="${product.quantity}"></td>
        <td th:text="${product.category.name}"></td>
        <td><a class="editProduct" th:href="${product.getId()}" data-bs-toggle="modal" data-bs-target="#exampleModal"
               onclick="getProductById($(this))">Edit</a></td>
        <td><a class="deleteProduct" onclick="deleteProduct($(this))"
               th:href="${product.getId()}">Delete</a></td>
    </tr>
</table>
<div>
    <a th:href="@{'/products/list'(page=${list.number - 1})}" th:if="${list.hasPrevious()}">Previous</a>
    <span th:text="${list.number + 1}"></span>/<span th:text="${list.totalPages}"></span>
    <a th:href="@{'/products/list'(page=${list.number + 1})}" th:if="${list.hasNext()}">Next</a>
</div>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>
